@import "./reset.css";
@import "./base.css";
:root {
  /* Color */
  --white: #f5f5f7;
  --black: #1d1d1f;
  --red: #d11719;
  --gray: #86868b;
  --blue-100: #2997ff;
  --blue-200: #0077ed;
  --blue-300: #0071e3;
  --blue-400: #006edb;

  /* Box Size */
  --size: 31.25rem; /* 500px - 카드 높이 고정 값 */

  /* Text Size */

  --xx-small-text: 0.75rem; /* 12px - Small Screen 버튼(링크) 글자 크기 */
  --x-small-text: 0.875rem; /* 14px - Large Screen 버튼(링크) 글자 크기 */
  --small-text: 1.0625rem; /* 17px - 출시일 추후 공개 글자 크기 (공통) */

  --base-text: 1.1875rem; /* 19px - Small Screen 부제목 글자 크기 */
  --medium-text: 1.3125rem; /* 21px - Large Screen 부제목 글자 크기 */

  --large-text: 2rem; /* 32px - Small Screen 제목 글자 크기 */
  --extra-large-text: 2.5rem; /* 40px - Large Screen 제목 글자 크기 */

  /* Spacing */
  --x-small-spacing: 0.5rem; /* 8px - 버튼(링크) 상,하단 안쪽 여백, 부제목 하단 여백 */

  --small-spacing: 0.75rem; /* 12px - 카드 제목, 부제목, 버튼(링크)간 여백(gap), 버튼(링크) 좌,우 안쪽 여백 */
  --base-spacing: 1rem; /* 16px - 2개의 버튼(링크) 사이 여백 (공통) */
  --large-spacing: 2.5rem; /* 40px - Small Screen 상단 여백 */

  --extra-large-spacing: 3.75rem; /* 60px - Large Screen 상단 여백 */

  --line-normal: 1.5; /* 부제목 줄간격 */
}

.card-component {
  display: grid;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 0;
  background-size: cover;

  .content-wrap {
    grid-area: 1 / 1;
  }
}

.content-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: var(--black-300);
  block-size: var(--size);
  inline-size: 100%;
  padding-block-start: var(--large-spacing);
  gap: var(--small-spacing); /* 요소들 사이의 간격 조정 */

  @media (min-width: 1024px) {
    padding-block-start: var(--extra-large-spacing);
  }
}

.caption {
  margin-block-start: var(--x-small-spacing);
  font-size: var(--small-text);
  color: var(--gray);
}

.sub-title {
  text-align: center;
  font-size: var(--base-text);

  @media (min-width: 1024px) {
    font-size: var(--medium-text);
    br {
      display: none;
    }
  }
}

.product-title {
  font-size: var(--large-text);

  @media (min-width: 1024px) {
    font-size: var(--extra-large-text);
  }
}

.button-wrap {
  display: flex; /* 버튼을 가로로 정렬 */
  gap: var(--base-spacing); /* 버튼 사이의 간격 설정 */
  justify-content: center; /* 버튼을 가운데 정렬 (선택 사항) */
}

.button-wrap button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  outline: 0;
  border: 0;
  font-size: var(--x-small-text);
  padding-block: var(--x-small-spacing);
  padding-inline: var(--small-spacing);
  border-radius: 2.5rem;

  @media (min-width: 1024px) {
    font-size: var(--xx-small-text);
  }
}
